<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Cameras streamer</title>
		<link rel="stylesheet" href="design.css" />
	</head>

	<body>
		<!-- Variables from server -->
		<div id="_ServerVariables">
<% 
	for(key in data) { 
%>			<input type="hidden" data-title="<%= key %>" value="<%= data[key] %>" /> 
<% 
	} 
%>			
			<script src="readVariables.js"></script>
		</div>
		
		<!-- Page -->
		<h1>Cameras streamer</h1>
		<p>
			<strong>My id: </strong> <span id="_myId"></span> 
			<br/>
			<strong>Peer id: </strong><span id="_peerId"></span>
		</p>
		
		<!-- Camera selection -->
		<ul id="CameraList">
			<li class="button">
				<input type="button" value="Open" onclick="openCameras()"/>
				<input type="button" value="Launch" onclick="askLaunchCameras()" disabled />
			</li>
			
			<!-- filled by script -->
			<!--
			
			<li class="camera"> 
				<label>Camera 1</label> 
				<input type="checkbox" /> 
				<input type="hidden" data-title="deviceId" value="deviceId" />
				<ul class="FormatList">
					<li><input type="radio" name="format" value="0" /> <label>320x240</label> </li> 
					<li><input type="radio" name="format" value="0" /> <label>320x240</label> </li> 
					<li><input type="radio" name="format" value="0" /> <label>320x240</label> </li> 
					<li><input type="radio" name="format" value="0" /> <label>320x240</label> </li> 
				</ul> 
			</li>  
			
			 -->		
		</ul>
		
		<!-- Videos -->
		<div id="Video">
			<div id="Preview">
				<h2>Preview</h2>
				<ul class="VideoList">
					<!-- filled by script -->
					<!--
					
					<li class="videoPreview">
						<h3>Camera 1</h3>
						<video autoplay></video>
					</li>
					
					-->
				</ul>
			</div>
			
			<div id="Received">
				<h2>Received</h2>
				<ul class="VideoList">
					<!-- filled by script  -->
					<!--
					
					<li class="videoReceived">
						<h3>Camera 1</h3>
						<video autoplay></video>
					</li>
					
					-->
				</ul>
			</div>
		</div>
		
		<!-- Popups -->
		<div id="RequestWait">
			<p class="message">Currently calling the target. Please wait..</p>
		</div>
		
		<div id="PromptRequest">
			<div class="message">
				<p>
					Invitation to begin streaming:
				</p>
			
				<input type="button" class="btnAccept" value="Accept" onclick="answerRequest(Request.Accepted)"/>
				<input type="button" class="btnRefuse" value="Refuse" onclick="answerRequest(Request.Refused)" />
			</div>
		</div>

		<!-- Scripts -->
		<script src="webrtc.js"></script>
		<script src="webrtc_multiple.js"></script>

	</body>
</html>